@tailwind base;
@tailwind components;
@tailwind utilities;

/* typst_fonts - fonts used in typst blog posts */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&family=Lato:wght@100;300&family=JetBrains+Mono:wght@400;700&display=swap');

body {
  font-family: monospace;
  /*text-align: center;*/
}
